@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Bine ai venit pe Studenti UPB</h1>
    <img src="~/images/photo.png" class="rounded mx-auto d-block" width="300" />
    <br />
    <p>
        <a href="/Students" class="btn btn-primary">Acceseaza Studenti</a>
    </p>
</div>
